main {
    flex: 1 1 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: #f7f7f7;
}
.giftсertificatetext {
    font-size: 14px;
    font-weight: 600;
}
.content {
    min-width: 60%;
    display: flex;
    flex-direction: column;
}
.contentCards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.stock {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}
.stocktopbar {
    display: flex;
    justify-content: space-between;
}
.stocktopbar a {
    color: #7e7e7e;
    text-decoration: none;
    transition: 0.2s;
}
.stocktopbar a:hover {
    color: #999999;
    transition: 0.2s;
}
.stockimages {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.offerscard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offers {
    width: 100%;
}
.offerstext {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 8px;
}