header {
    flex: 0 0 auto;
}
.headerbar {
    width: 100%;
    height: 28px;
    background: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.location {
    display: flex;
    width: 33.3%;
    margin-left: 50px;
}
.location p {
    font-size: 12.5px;
    padding-left: 5px;
}
.centername {
    width: 33.3%;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.compainesandshops {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.compainesandshops p {
    padding-right: 20px;
}

.header {
    width: 100%;
    height: 58px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    z-index: 6;
    background: #fff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2); 
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}
.buttonandnumbers {
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}
.phonenumbers {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.hotlinesite {
    display: flex;
    transition: 0.2s;
    align-items: center;
}
.hotlinesite:hover {
    transition: 0.2s;
    color: rgb(184, 184, 184);
}
.hotlinebrand {
    display: flex;
    transition: 0.2s;
    align-items: center;
}
.hotlinebrand:hover {
    transition: 0.2s;
    color: rgb(184, 184, 184);
}
.phonenumbers p {
    cursor: pointer;
    padding-left: 5px;
}

.logo {
    width: 33.3%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headericons {
    width: 33.3%;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}
